<form method="POST" action="/songs">
  <p>Title: <input type="text" name="song[title]" value="<%= @song.title %>"></p>
  <p>Artist: <input type="text" name="song[artist]" value="<%= @song.artist %>"></p>
  <p>Album: <input type="text" name="song[album]" value="<%= @song.album %>"></p>
  <p>Genre: <input type="text" name="song[genre]" value="<%= @song.genre %>"></p>
  <p>Length: <input type="text" name="song[length]" value="<%= @song.length %>"></p>
  <input type="hidden" name="song[id]" value="<%= @song.id %>">
  <input type="submit" value="Save Changes">
</form>
